{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "insertPragma": false,
  "endOfLine": "auto"
}
